<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>

    <header>
        <h1>Welcome to My Website</h1>
    </header>

    <main>
            <h3> Please enter the name of the city you wish to know the weather of :</h3>
            <br>
            <form action = "/city_name" method = "post" >
                <input type= "text" name = "city_name" placeholder = "Enter your city name here" ></input>
                <button name = submit> Submit</button>
            </form>
    </main>

</body>
</html>

